 <form [formGroup]= "appointmentForm">
  <mat-form-field>
    <mat-label>Doctor</mat-label>
    <mat-select formControlName="doctor">
      <mat-option *ngFor="let doctor of doctors" [value]="doctor">
        {{doctor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Patient</mat-label>
    <mat-select formControlName="patient">
      <mat-option *ngFor="let patient of patients" [value]="patient">
        {{patient.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>AppointmentDate</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="appointmentDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </form>
  <br>
  <button type="submit" [disabled] ="!appointmentForm.valid" class="add-button" (click)="addAppointment()">
    Add doctor
  </button>



